.benefits {
  padding: 65px 0;

  @include desktop {
    padding: 60px 0;
  }

  @include tablet {
    padding: 40px 0;
  }

  &__header {
    margin-bottom: 70px;

    @include desktop {
      margin-bottom: 40px;
    }

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &--sec {
    .b-item__fig {
      color: #76b711;
    }
  }
}

.b-item {
  display: flex;
  align-items: flex-start;
  gap: 26px;

  @include desktop {
    gap: 10px;
  }

  &__capture {
    margin-bottom: 22px;
  }

  &__fig {
    font-weight: 600;
    font-size: 62px;
    line-height: 110%;
    color: #dcdcdc;

    @include desktop {
      font-size: 52px;
    }

    @include tablet {
      font-size: 40px;
    }
  }

  &__desc {
    font-size: 20px;

    @include desktop {
      font-size: 18px;
    }

    @include tablet {
      font-size: 16px;
    }
  }
}