.benefits {
  padding: 65px 0;

  &__header {
    margin-bottom: 70px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &--sec {
    .b-item__fig {
      color: #76b711;
    }
  }
}

.b-item {
  display: flex;
  align-items: flex-start;
  gap: 26px;

  &__capture {
    margin-bottom: 22px;
  }

  &__fig {
    font-weight: 600;
    font-size: 62px;
    line-height: 110%;
    color: #dcdcdc;
  }

  &__desc {
    font-size: 20px;
  }
}