.corn {
  padding-top: 130px;
  padding-bottom: 65px;

  @include desktop {
    padding: 60px 0;
  }

  @include tablet {
    padding: 40px 0;
  }

  @include mobile {
    padding: 30px 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @include small-tablet {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  &__img {
    position: relative;
    border-radius: 30px;
    overflow: hidden;

    @include desktop {
      order: -1;
    }

    @include small-tablet {
      height: 450px;
      order: 1;
    }

    @include mobile {
      height: 334px;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.corn-item {
  padding: 60px;
  border-radius: 30px;
  background-color: #fff;

  @include desktop {
    padding: 40px;
  }

  @include tablet {
    padding: 20px;
    border-radius: 20px;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-family: var(--font4);
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;

    color: #000;

    @include desktop {
      font-size: 26px;
    }

    @include tablet {
      font-size: 24px;
    }

    @include small-tablet {
      font-size: 20px;
      margin-bottom: 20px;
    }

    span {
      color: #76b711;
      text-transform: uppercase;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }
}