.imp {
  padding: 65px 0;

  @include desktop {
    padding: 60px 0;
  }

  @include tablet {
    padding: 40px 0;
  }

  @include mobile {
    padding: 30px 0;
  }

  &__header {
    margin-bottom: 70px;

    @include desktop {
      margin-bottom: 40px;
    }

    @include tablet {
      margin-bottom: 20px;
    }

    @include mobile {
      text-align: center;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include small-tablet {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    &--long {
      grid-row: 2 span;
      background-image: url('./../img/imp-corn.webp');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      .imp-item__capture {
        max-width: 200px;

        @include small-tablet {
          max-width: 100%;
        }
      }
    }
  }
}

.imp-item {
  padding: 40px;
  border-radius: 30px;
  background-color: #fff;

  @include desktop {
    padding: 30px;
  }

  @include tablet {
    padding: 20px;
  }

  &__capture {
    margin-bottom: 30px;
  }
}