.percent {
  &__container {
    padding: 64px 150px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;

    @include desktop {
      padding: 15px;
      gap: 30px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    span {
      font-weight: 600;
      font-size: 128px;
      line-height: 110%;
      color: #76b711;

      @include desktop {
        font-size: 110px;
      }
    }

    p {
      font-size: 26px;
      font-weight: 600;

      @include desktop {
        font-size: 22px;
      }

      @include tablet {
        font-size: 20px;
      }
    }

    &:nth-child(2) {
      span {
        color: #3f6600;
      }
    }
  }
}