.prod {
  padding: 65px 0;

  @include desktop {
    padding: 60px 0;
  }

  @include tablet {
    padding: 40px 0;
  }

  @include mobile {
    padding: 30px 0;
  }

  &__header {
    margin-bottom: 70px;

    @include desktop {
      margin-bottom: 40px;
    }

    @include tablet {
      margin-bottom: 20px;
    }

  }

  &__subtitle {
    max-width: 1060px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include small-tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mobile {
      display: flex;
      gap: 0;
    }
  }
}

.prod-item {
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  box-sizing: border-box;
  height: auto;

  @include desktop {
    padding: 20px 30px;
  }

  @include small-tablet {
    padding: 40px;
  }

  @include mobile {
    width: 205px;
    padding: 30px;
    flex-shrink: 0;
  }

  &__img {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop {
      height: 165px;
    }

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info {
    text-align: center;
  }

  &__name {
    margin: 0;

    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    color: #000;

    @include desktop {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__capture {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color: #000;

    @include desktop {
      font-size: 14px;
    }
  }
}