.problem {
  padding: 65px 0;

  @include desktop {
    padding: 60px 0;
  }

  @include tablet {
    padding: 40px 0;
  }

  @include mobile {
    padding: 30px 0;
  }

  // &__subtitle {
  //   max-width: 720px;

  //   @include desktop {
  //     max-width: 35%;
  //   }
  // }

  &__header {
    margin-bottom: 70px;

    @include desktop {
      margin-bottom: 40px;
    }

    @include tablet {
      margin-bottom: 20px;
    }

    @include mobile {
      text-align: center;
    }
  }

  &__items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 20px;
    }


  }

  &__warning {
    display: flex;
    grid-column: 2 span;
    align-items: flex-start;
    gap: 20px;
    border-radius: 30px;
    padding: 24px 31px;
    background: rgba(184, 234, 143, 0.3);

    @include tablet {
      grid-column: 3 span;
    }

    @include mobile {
      padding: 20px;
    }

    p {
      max-width: 740px;

      @include mobile {
        font-size: 10px;
      }
    }

    svg {
      flex-shrink: 0;
      width: 34px;
      height: 34px;
    }
  }
}

.problem-item {
  display: flex;
  width: 100%;
  padding: 60px 40px;
  background-color: #fff;
  border-radius: 50px;
  gap: 25px;
  width: 30%;
  flex: 1;

  @include desktop {
    padding: 40px;
    border-radius: 30px;
    gap: 10px;
  }

  @include tablet {
    padding: 20px;
  }

  @include small-tablet {
    width: 45%;
  }

  @include mobile {
    width: 100%;
  }

  &__left {
    @include desktop {
      order: 10;
    }
  }

  &__fig {
    display: block;
    font-weight: 600;
    font-size: 62px;
    line-height: 110%;
    color: #76b711;

    @include desktop {
      font-size: 50px;
    }

    @include tablet {
      font-size: 42px;
    }

  }

  &__capture {
    margin-bottom: 25px;
  }
}