<section class="benefits benefits--sec">
  <div class="container">
    <div class="swiper benefits__slider">
      <div class="benefits__items swiper-wrapper">
        <div class="swiper-slide benefits__item b-item">
          <div class="b-item__left">
            <span class="b-item__fig"> 01 </span>
          </div>
          <div class="b-item__content">
            <p class="b-item__capture capture">Точность и<br />экономия</p>
            <p class="b-item__desc desc">
              Наше оборудование позволяет контролировать влажность и температуру
              на всех уровнях зерновых хранилищ, сводя к минимуму порчу зерна.
            </p>
          </div>
        </div>
        <div class="swiper-slide benefits__item b-item">
          <div class="b-item__left">
            <span class="b-item__fig"> 02 </span>
          </div>
          <div class="b-item__content">
            <p class="b-item__capture capture">
              Минимизация человеческого труда
            </p>
            <p class="b-item__desc desc">
              Автоматические системы сокращают потребность в постоянном
              мониторинге, снижая нагрузку на работников.
            </p>
          </div>
        </div>
        <div class="swiper-slide benefits__item b-item">
          <div class="b-item__left">
            <span class="b-item__fig"> 03 </span>
          </div>
          <div class="b-item__content">
            <p class="b-item__capture capture">Снижение<br />расходов</p>
            <p class="b-item__desc desc">
              Контроль условий хранения позволяет экономить на затратах на
              фумигацию, вентиляцию и управление запасами.
            </p>
          </div>
        </div>
        <div class="swiper-slide benefits__item b-item">
          <div class="b-item__left">
            <span class="b-item__fig"> 04 </span>
          </div>
          <div class="b-item__content">
            <p class="b-item__capture capture">Точность и экономия</p>
            <p class="b-item__desc desc">
              Современные технологии продлевают срок годности зерна,
              предотвращая плесневение и самосогревание.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
