<section class="corn">
  <div class="container">
    <div class="corn__container">
      <div class="corn__item corn-item">
        <div class="corn-item__title">
          <span>Зерно</span> является ценнейшим ресурсом для любого сельского
          хозяйства, и от его сохранности зависит не только прибыль, но и
          успешность вашего бизнеса.
        </div>
        <p class="corn-item__desc desc">
          В современном мире фермеры сталкиваются с множеством вызовов при
          хранении зерна, однако существуют проверенные и технологичные решения,
          которые помогут минимизировать риски и увеличить доходность вашего
          хозяйства.
        </p>
      </div>

      <div class="corn__img">
        <img src="./img/corn.webp" alt="" />
      </div>
    </div>
  </div>
</section>
