<section class="faq">
  <div class="container">
    <div class="faq__header">
      <h2 class="faq__title title2">Часто</h2>
      <p class="subtitle faq__subtitle">Задаваемые вопросы</p>
    </div>
    <ul class="list-reset faq__items">
      <li class="faq__col">
        <div class="faq__item faq-item active">
          <div class="faq-item__header">
            <div class="faq-item__btn">
              <svg
                width="27"
                height="16"
                viewBox="0 0 27 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.500002 2.77143C0.500002 2.296 0.681501 1.82104 1.0435 1.45797C1.76875 0.732759 2.94475 0.732759 3.67005 1.45797L13.5 11.2878L23.3295 1.45797C24.0547 0.732759 25.2307 0.732759 25.9559 1.45797C26.6812 2.18319 26.6812 3.35922 25.9559 4.08443L14.813 15.2273C14.0878 15.9525 12.9117 15.9525 12.1865 15.2273L1.0435 4.08443C0.681501 3.72183 0.500002 3.24686 0.500002 2.77143Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="faq-item__quest">
              Стоимость
              <span>"Слишком дорого, окупится ли?"</span>
            </div>
          </div>
          <div class="faq-item__content">
            <div class="faq-item__body">
              <p>
                Ответ: Наше оборудование окупается за 1-2 сезона. Сохранение
                зерна в хорошем состоянии без потерь помогает минимизировать
                убытки и повысить прибыль. Мы также предлагаем гибкие условия
                оплаты и рассрочку для любых хозяйств.
              </p>
            </div>
          </div>
        </div>
        <div class="faq__item faq-item">
          <div class="faq-item__header">
            <div class="faq-item__btn">
              <svg
                width="27"
                height="16"
                viewBox="0 0 27 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.500002 2.77143C0.500002 2.296 0.681501 1.82104 1.0435 1.45797C1.76875 0.732759 2.94475 0.732759 3.67005 1.45797L13.5 11.2878L23.3295 1.45797C24.0547 0.732759 25.2307 0.732759 25.9559 1.45797C26.6812 2.18319 26.6812 3.35922 25.9559 4.08443L14.813 15.2273C14.0878 15.9525 12.9117 15.9525 12.1865 15.2273L1.0435 4.08443C0.681501 3.72183 0.500002 3.24686 0.500002 2.77143Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="faq-item__quest">
              Поддержка
              <span>"Что, если придется долго ждать ремонта?"</span>
            </div>
          </div>
          <div class="faq-item__content">
            <div class="faq-item__body">
              <p>
                Ответ: Наш сервисный центр работает круглосуточно, а запчасти
                всегда в наличии. Личный менеджер 24/7 поможет вам с любым
                вопросом.
              </p>
            </div>
          </div>
        </div>
        <div class="faq__item faq-item">
          <div class="faq-item__header">
            <div class="faq-item__btn">
              <svg
                width="27"
                height="16"
                viewBox="0 0 27 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.500002 2.77143C0.500002 2.296 0.681501 1.82104 1.0435 1.45797C1.76875 0.732759 2.94475 0.732759 3.67005 1.45797L13.5 11.2878L23.3295 1.45797C24.0547 0.732759 25.2307 0.732759 25.9559 1.45797C26.6812 2.18319 26.6812 3.35922 25.9559 4.08443L14.813 15.2273C14.0878 15.9525 12.9117 15.9525 12.1865 15.2273L1.0435 4.08443C0.681501 3.72183 0.500002 3.24686 0.500002 2.77143Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="faq-item__quest">
              Сроки поставки
              <span>"Боюсь, что оборудование не доставят вовремя."</span>
            </div>
          </div>
          <div class="faq-item__content">
            <div class="faq-item__body">
              <p>
                Ответ: Мы всегда держим оборудование в наличии и можем отправить
                его в день оплаты.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="faq__col">
        <div class="faq__item faq-item">
          <div class="faq-item__header">
            <div class="faq-item__btn">
              <svg
                width="27"
                height="16"
                viewBox="0 0 27 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.500002 2.77143C0.500002 2.296 0.681501 1.82104 1.0435 1.45797C1.76875 0.732759 2.94475 0.732759 3.67005 1.45797L13.5 11.2878L23.3295 1.45797C24.0547 0.732759 25.2307 0.732759 25.9559 1.45797C26.6812 2.18319 26.6812 3.35922 25.9559 4.08443L14.813 15.2273C14.0878 15.9525 12.9117 15.9525 12.1865 15.2273L1.0435 4.08443C0.681501 3.72183 0.500002 3.24686 0.500002 2.77143Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="faq-item__quest">
              Качество
              <span>"Боюсь, что оборудование сломается."</span>
            </div>
          </div>
          <div class="faq-item__content">
            <div class="faq-item__body">
              <p>
                Ответ: Все наши системы сертифицированы, имеют гарантию и
                обслуживаются в нашем сервисном центре. В случае поломки мы
                обеспечим быструю замену или ремонт.
              </p>
            </div>
          </div>
        </div>
        <div class="faq__item faq-item">
          <div class="faq-item__header">
            <div class="faq-item__btn">
              <svg
                width="27"
                height="16"
                viewBox="0 0 27 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.500002 2.77143C0.500002 2.296 0.681501 1.82104 1.0435 1.45797C1.76875 0.732759 2.94475 0.732759 3.67005 1.45797L13.5 11.2878L23.3295 1.45797C24.0547 0.732759 25.2307 0.732759 25.9559 1.45797C26.6812 2.18319 26.6812 3.35922 25.9559 4.08443L14.813 15.2273C14.0878 15.9525 12.9117 15.9525 12.1865 15.2273L1.0435 4.08443C0.681501 3.72183 0.500002 3.24686 0.500002 2.77143Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="faq-item__quest">
              Новые технологии
              <span>"Не уверен, что мне нужны новые технологии."</span>
            </div>
          </div>
          <div class="faq-item__content">
            <div class="faq-item__body">
              <p>
                Ответ: Наши решения проверены и уже помогли многим хозяйствам
                сократить потери до 20%. Мы можем предложить вам тестовое
                использование, чтобы убедиться в результатах.
              </p>
            </div>
          </div>
        </div>
        <div class="faq__item faq-item">
          <div class="faq-item__header">
            <div class="faq-item__btn">
              <svg
                width="27"
                height="16"
                viewBox="0 0 27 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.500002 2.77143C0.500002 2.296 0.681501 1.82104 1.0435 1.45797C1.76875 0.732759 2.94475 0.732759 3.67005 1.45797L13.5 11.2878L23.3295 1.45797C24.0547 0.732759 25.2307 0.732759 25.9559 1.45797C26.6812 2.18319 26.6812 3.35922 25.9559 4.08443L14.813 15.2273C14.0878 15.9525 12.9117 15.9525 12.1865 15.2273L1.0435 4.08443C0.681501 3.72183 0.500002 3.24686 0.500002 2.77143Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="faq-item__quest">
              Законодательство
              <span>"Как это скажется на соблюдении стандартов?"</span>
            </div>
          </div>
          <div class="faq-item__content">
            <div class="faq-item__body">
              <p>
                Ответ: Всё оборудование сертифицировано и помогает
                соответствовать актуальным нормам и стандартам, что защищает ваш
                бизнес.
              </p>
            </div>
          </div>
        </div>
        <div class="faq__item faq-item">
          <div class="faq-item__header">
            <div class="faq-item__btn">
              <svg
                width="27"
                height="16"
                viewBox="0 0 27 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.500002 2.77143C0.500002 2.296 0.681501 1.82104 1.0435 1.45797C1.76875 0.732759 2.94475 0.732759 3.67005 1.45797L13.5 11.2878L23.3295 1.45797C24.0547 0.732759 25.2307 0.732759 25.9559 1.45797C26.6812 2.18319 26.6812 3.35922 25.9559 4.08443L14.813 15.2273C14.0878 15.9525 12.9117 15.9525 12.1865 15.2273L1.0435 4.08443C0.681501 3.72183 0.500002 3.24686 0.500002 2.77143Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="faq-item__quest">
              Сложность
              <span>"Сотрудники не справятся с новым оборудованием."</span>
            </div>
          </div>
          <div class="faq-item__content">
            <div class="faq-item__body">
              <p>
                Ответ: Мы проводим обучение, а наше оборудование интуитивно
                понятно и требует минимального вмешательства.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
