<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        <h1 class="hero__title">ЭФФЕКТИВНОЕ<br />ХРАНЕНИЕ ЗЕРНА</h1>
        <p class="hero__subtitle">
          РЕШЕНИЯ И ВОЗМОЖНОСТИ ДЛЯ АГРАРНЫХ ПРЕДПРИЯТИЙ ЛЮБОГО МАСШТАБА
        </p>
        <p class="hero__desc">
          Сохраните урожай и увеличьте прибыль с нашим оборудованием
        </p>
        <a href="#" class="btn btn-reset hero__btn">Получить консультацию</a>
      </div>

      <div class="hero__right">
        <div class="hero__item hero-item">
          <span class="hero-item__fig">32%</span>
          <p class="hero-item__capture">Экономия<br />времени</p>
        </div>
        <div class="hero__item hero-item">
          <span class="hero-item__fig">28%</span>
          <p class="hero-item__capture">Экономия<br />зерна</p>
        </div>
        <div class="hero__item hero-item">
          <span class="hero-item__fig">32%</span>
          <p class="hero-item__capture">Экономия<br />денег</p>
        </div>
      </div>
    </div>
  </div>
</section>
