<section class="imp">
  <div class="container">
    <div class="imp__header">
      <h2 class="title2 imp__title">важность</h2>
      <p class="subtitle imp__subtitle">Поиска решений</p>
    </div>

    <div class="imp__items">
      <div class="imp-item imp__item imp__item--long">
        <p class="capture imp-item__capture">Сохранение качества урожая</p>
        <p class="desc imp-item__desc">
          Правильное хранение позволяет сохранить питательные свойства и
          товарный вид зерна
        </p>
      </div>
      <div class="imp-item imp__item imp__item--long">
        <p class="capture imp-item__capture">Экономическая выгода</p>
        <p class="desc imp-item__desc">
          Минимизация потерь напрямую влияет на вашу прибыль
        </p>
      </div>
      <div class="imp-item imp__item">
        <p class="capture imp-item__capture">Соответствие стандартам</p>
        <p class="desc imp-item__desc">
          Качественное зерно отвечает требованиям рынка и привлекает больше
          покупателей
        </p>
      </div>
      <div class="imp-item imp__item">
        <p class="capture imp-item__capture">Устойчивое развитие хозяйства</p>
        <p class="desc imp-item__desc">
          Качественное зерно отвечает требованиям рынка и привлекает больше
          покупателей
        </p>
      </div>
    </div>
  </div>
</section>
