<section class="offer">
  <div class="container">
    <div class="offer__container">
      <div class="offer__content">
        <h2 class="offer__title">СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ</h2>
        <p class="offer__subtitle">
          Только сейчас для новых клиентов - бесплатная консультация и
          индивидуальный расчет стоимости решений для вашего хозяйства!
        </p>
        <p class="desc offer__desc">
          Оптимизируйте процессы хранения уже сегодня.
          <br /><br />
          Мы уверены, что наши решения помогут Вам сохранить урожай в идеальном
          состоянии, повысить прибыльность и улучшить контроль качества
          продукции.
        </p>

        <a href="#" class="offer__btn btn-reset btn modal-btn"
          >Получить консультацию</a
        >
      </div>

      <div class="offer__img">
        <img src="./img/offer.webp" alt="" />
      </div>
    </div>
  </div>
</section>
