<section class="poss">
  <div class="container">
    <div class="poss__header">
      <h2 class="title2 poss__title">возможности</h2>
      <div class="poss__subtitle subtitle">
        Для хозяйств различных масштабов
      </div>
    </div>

    <div class="poss__items">
      <div class="poss__item poss-item">
        <div class="poss-item__capture">Для крупных хозяйств и элеваторов</div>
        <ol class="desc poss-item__list">
          <li>
            Комплексные решения: Автоматизированные системы мониторинга и
            управления.
          </li>
          <li>
            Экономия на масштабе: Снижение затрат на единицу продукции за счёт
            оптимизации процессов.
          </li>
          <li>
            Соответствие международным стандартам: Выход на новые рынки и
            увеличение
          </li>
        </ol>
      </div>
      <div class="poss__item poss-item">
        <div class="poss-item__capture">Для малых и средних хозяйств</div>
        <ol class="desc poss-item__list">
          <li>
            Доступные решения: Простые в использовании приборы без необходимости
            крупных инвестиций.
          </li>
          <li>
            Гибкость: Возможность постепенного расширения и модернизации
            оборудования.
          </li>
          <li>
            Увеличение прибыльности: Сохранение большей части урожая и улучшение
          </li>
        </ol>
      </div>
    </div>

    <div class="poss__bottom">
      <a href="#" class="btn btn-reset poss__btn">Получить консультацию</a>
    </div>
  </div>
</section>
