<section class="problem">
  <div class="container">
    <div class="problem__header">
      <h2 class="title2 problem__title">Основные проблемы</h2>
      <p class="subtitle problem__subtitle">
        С которыми сталкиваются фермеры<br />при хранении зерна:
      </p>
    </div>

    <div class="problem__items">
      <div class="problem-item problem__item">
        <div class="problem-item__left">
          <span class="problem-item__fig">01</span>
        </div>
        <div class="problem-item__right">
          <div class="problem-item__capture capture">
            Недостаточная вентиляция
          </div>
          <p class="desc problem-item__desc">
            - Проблема: Отсутствие правильной циркуляции воздуха в хранилище.
            <br /><br />
            -Последствия: Накопление влаги, развитие плесени и ухудшение
            качества зерна.
          </p>
        </div>
      </div>
      <div class="problem-item problem__item">
        <div class="problem-item__left">
          <span class="problem-item__fig">02</span>
        </div>
        <div class="problem-item__right">
          <div class="problem-item__capture capture">Высокая влажность</div>
          <p class="desc problem-item__desc">
            - Проблема: Избыточная влага приводит к развитию плесени, гниению и
            прорастанию зерна.
            <br /><br />
            - Последствия: Порча зерна, снижение качества и невозможность
            реализации урожая по выгодной цене.
          </p>
        </div>
      </div>
      <div class="problem-item problem__item">
        <div class="problem-item__left">
          <span class="problem-item__fig">03</span>
        </div>
        <div class="problem-item__right">
          <div class="problem-item__capture capture">
            Перегрев зерновой массы
          </div>
          <p class="desc problem-item__desc">
            - Проблема: Биологическая активность внутри зерновой массы вызывает
            повышение температуры.
            <br /><br />
            - Последствия: Самосогревание зерна, снижение его питательной
            ценности и риск полного уничтожения партии.
          </p>
        </div>
      </div>
      <div class="problem-item problem__item">
        <div class="problem-item__left">
          <span class="problem-item__fig">04</span>
        </div>
        <div class="problem-item__right">
          <div class="problem-item__capture capture">
            Неправильное перемешивание зерна
          </div>
          <p class="desc problem-item__desc">
            - Проблема: Отсутствие правильной циркуляции воздуха в хранилище.
            <br /><br />
            - Последствия: Слеживание зерна приводит к неравномерной влажности и
            температуре.
          </p>
        </div>
      </div>
      <div class="problem-item problem__item">
        <div class="problem-item__left">
          <span class="problem-item__fig">05</span>
        </div>
        <div class="problem-item__right">
          <div class="problem-item__capture capture">
            Неравномерное распределение температуры и влажности
          </div>
          <p class="desc problem-item__desc">
            - Проблема: Различия в условиях внутри зерновой массы.
            <br /><br />
            -Последствия: Появление "горячих точек", повышенный риск порчи зерна
            в отдельных участках.
          </p>
        </div>
      </div>
      <div class="problem-item problem__item">
        <div class="problem-item__left">
          <span class="problem-item__fig">06</span>
        </div>
        <div class="problem-item__right">
          <div class="problem-item__capture capture">
            Насекомые-вредители и грызуны
          </div>
          <p class="desc problem-item__desc">
            - Проблема: Зерно подвержено нападению насекомых и грызунов.
            <br /><br />
            -Последствия: Повреждение зерна, распространение болезней и
            увеличение потерь
          </p>
        </div>
      </div>
      <div class="problem__warning">
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M36.6666 19.9999C36.6666 29.2047 29.2047 36.6666 20 36.6666C10.7952 36.6666 3.33331 29.2047 3.33331 19.9999C3.33331 10.7952 10.7952 3.33325 20 3.33325C29.2047 3.33325 36.6666 10.7952 36.6666 19.9999ZM20 17.0833C20.6903 17.0833 21.25 17.6429 21.25 18.3333V28.3333C21.25 29.0236 20.6903 29.5833 20 29.5833C19.3096 29.5833 18.75 29.0236 18.75 28.3333V18.3333C18.75 17.6429 19.3096 17.0833 20 17.0833ZM20 14.9999C20.9205 14.9999 21.6666 14.2537 21.6666 13.3333C21.6666 12.4128 20.9205 11.6666 20 11.6666C19.0795 11.6666 18.3333 12.4128 18.3333 13.3333C18.3333 14.2537 19.0795 14.9999 20 14.9999Z"
            fill="#3F6600"
          />
        </svg>
        <p class="desc">
          Каждая из указанных проблем может привести к значительным убыткам и
          снижению качества урожая, что делает поиск и внедрение решений
          критически важным для успешного хранения зерна.
        </p>
      </div>
    </div>
  </div>
</section>
