<section class="prod">
  <div class="container">
    <div class="prod__header">
      <h2 class="title2 prod__title">Мы предоставляем</h2>
      <p class="subtitle prod__subtitle">
        Полный спектр оборудования для контроля качества и условий хранения
        зерна, разработанного для удовлетворения потребностей аграрных
        предприятий любого масштаба
      </p>
    </div>
    <div class="prod__container">
      <a href="#" class="prod__item prod-item">
        <div class="prod-item__img">
          <img src="./img/prod/vlaga.webp" alt="" />
        </div>
        <div class="prod-item__info">
          <p class="prod-item__name">Оборудование для определения влаги</p>
        </div>
      </a>
      <a href="#" class="prod__item prod-item">
        <div class="prod-item__img">
          <img src="./img/prod/termo.webp" alt="" />
        </div>
        <div class="prod-item__info">
          <p class="prod-item__name">
            Термоштанга с двухстрочным цифровым электронным блоком
          </p>
          <p class="prod-item__capture">Модель ТШЭ-2-3,5</p>
        </div>
      </a>
      <a href="#" class="prod__item prod-item">
        <div class="prod-item__img">
          <img src="./img/prod/probo.webp" alt="" />
        </div>
        <div class="prod-item__info">
          <p class="prod-item__name">Пробоотборник мешочный</p>
          <p class="prod-item__capture">Модель ЩМ</p>
        </div>
      </a>
      <a href="#" class="prod__item prod-item">
        <div class="prod-item__img">
          <img src="./img/prod/ventil.webp" alt="" />
        </div>
        <div class="prod-item__info">
          <p class="prod-item__name">Вентилятор вороха</p>
          <p class="prod-item__capture">Модель Вихрь 2000</p>
        </div>
      </a>
      <a href="#" class="prod__item prod-item">
        <div class="prod-item__img">
          <img src="./img/prod/schup.webp" alt="" />
        </div>
        <div class="prod-item__info">
          <p class="prod-item__name">Щуп для фумигации</p>
          <p class="prod-item__capture">Модель ЩВ</p>
        </div>
      </a>
      <a href="#" class="prod__item prod-item">
        <div class="prod-item__img">
          <img src="./img/prod/vorosh.webp" alt="" />
        </div>
        <div class="prod-item__info">
          <p class="prod-item__name">Ворошитель зерна</p>
          <p class="prod-item__capture">Модель В3/B3-2</p>
        </div>
      </a>
      <a href="#" class="prod__item prod-item">
        <div class="prod-item__img">
          <img src="./img/prod/probo-corn.webp" alt="" />
        </div>
        <div class="prod-item__info">
          <p class="prod-item__name">Пробоотборник зерновой многоуровневый</p>
          <p class="prod-item__capture">Модель ПЗМ-3-5-200</p>
        </div>
      </a>
    </div>
  </div>
</section>
