<section class="tech">
  <div class="container">
    <div class="tech__container">
      <div class="tech__item">
        <h2 class="tech__title">РУС ТЕХНО - ТЕХНОЛОГИИ ДЛЯ ХРАНЕНИЯ ЗЕРНА</h2>

        <p class="tech__capture capture">Наша миссия:</p>
        <p class="tech__desc desc">
          Обеспечить сельскохозяйственные предприятия России новейшими
          технологиями для эффективного хранения зерна, облегчить труд аграриев
          и сократить производственные издержки.
          <br /><br />С 2016 года мы помогаем фермерам оптимизировать процессы
          хранения урожая. Наши решения, включающие автоматизированные системы
          контроля температуры и влажности, а также современные системы
          вентиляции и фумигации, позволяют минимизировать потери и сохранить
          зерно в идеальном состоянии.
        </p>
      </div>

      <div class="tech__img">
        <img src="./img/tech.webp" alt="" />
      </div>
    </div>
  </div>
</section>
