<section class="why">
  <div class="container">
    <div class="why__header">
      <h2 class="title2 why__title">Почему</h2>
      <p class="subtitle why__subtitle">
        Выбирают Рус Техно для хранения зерна
      </p>
    </div>

    <div class="why__items">
      <div class="why__item w-item">
        <div class="w-item__left">
          <div class="w-item__icon">
            <img src="./img/why/01.svg" alt="" />
          </div>
        </div>
        <div class="w-item__content">
          <span class="capture w-item__capture">Комплексные решения</span>
          <p class="desc w-item__desc">
            Мы предлагаем оборудование для полного цикла контроля за хранением -
            от влагомеров и термоштанг до систем фумигации
          </p>
        </div>
      </div>
      <div class="why__item w-item">
        <div class="w-item__left">
          <div class="w-item__icon">
            <img src="./img/why/02.svg" alt="" />
          </div>
        </div>
        <div class="w-item__content">
          <span class="capture w-item__capture">Гарантия качества</span>
          <p class="desc w-item__desc">
            Все системы сертифицированы и обеспечены гарантией. Мы сотрудничаем
            с проверенными производителями
          </p>
        </div>
      </div>
      <div class="why__item w-item">
        <div class="w-item__left">
          <div class="w-item__icon">
            <img src="./img/why/03.svg" alt="" />
          </div>
        </div>
        <div class="w-item__content">
          <span class="capture w-item__capture">Гибкие условия оплаты</span>
          <p class="desc w-item__desc">
            Возможна рассрочка и индивидуальные условия для каждого клиента
          </p>
        </div>
      </div>
      <div class="why__item w-item">
        <div class="w-item__left">
          <div class="w-item__icon">
            <img src="./img/why/04.svg" alt="" />
          </div>
        </div>
        <div class="w-item__content">
          <span class="capture w-item__capture">Оперативная поддержка</span>
          <p class="desc w-item__desc">
            Наш сервисный центр работает 24/7, обеспечивая быстрый ремонт и
            замену оборудования
          </p>
        </div>
      </div>
      <div class="why__item w-item">
        <div class="w-item__left">
          <div class="w-item__icon">
            <img src="./img/why/05.svg" alt="" />
          </div>
        </div>
        <div class="w-item__content">
          <span class="capture w-item__capture">Оборудование в наличии</span>
          <p class="desc w-item__desc">
            Быстрая отгрузка и готовность к работе
          </p>
        </div>
      </div>
      <div class="why__warn">
        <svg
          width="42"
          height="42"
          viewBox="0 0 42 42"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M41.8334 21.0001C41.8334 32.506 32.506 41.8334 21 41.8334C9.49409 41.8334 0.166687 32.506 0.166687 21.0001C0.166687 9.49415 9.49409 0.166748 21 0.166748C32.506 0.166748 41.8334 9.49415 41.8334 21.0001ZM21 17.3542C21.863 17.3542 22.5625 18.0538 22.5625 18.9167V31.4167C22.5625 32.2797 21.863 32.9793 21 32.9793C20.1371 32.9793 19.4375 32.2797 19.4375 31.4167V18.9167C19.4375 18.0538 20.1371 17.3542 21 17.3542ZM21 14.7501C22.1506 14.7501 23.0834 13.8173 23.0834 12.6667C23.0834 11.5162 22.1506 10.5834 21 10.5834C19.8494 10.5834 18.9167 11.5162 18.9167 12.6667C18.9167 13.8173 19.8494 14.7501 21 14.7501Z"
            fill="#3F6600"
          />
        </svg>
        <p class="desc w-item__desc">
          Выбирая Рус Техно, вы получаете современные решения, которые позволят
          вам хранить зерно эффективно и без лишних потерь.
        </p>
      </div>
    </div>

    <div class="why__bottom">
      <a href="#" class="btn btn-reset why__btn">Получить консультацию</a>
    </div>
  </div>
</section>
